// fonts
$main-font: 'Roboto', sans-serif;

// Week 1 fonts
// $font-one-Lato: 'Lato', sans-serif;


// Week 2 fonts

// Week 3 fonts


// colors
$color-main-dark: black;
$color-main-light: white;
$bkgd-color-main: #B3C0CF;
$header-color-main: #2C5E2E;
$highlight-color-two: gray;
