// fonts
$main-font: 'Roboto', sans-serif;


// colors
$color-main-dark: black;
$color-main-light: white;

$bkgd-color-main: #B3C0CF;
$bkgd-color-dark: #0C273D;

$header-color-main: #2C5E2E;

$highlight-color-two: gray;
$highlight-color: #54D0ED;
