/*Week 3 Entry*/
.week-three {
  // height: 50vh;
  width: 100%;
  margin: auto;
  margin-top: 20vh;
}

.header-week-three {
  margin-left: 4vw;
  margin-bottom: 1em;
}

.date-three {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid $color-main-light;
  width: 16vw;
  color: $color-main-light;
  font-size: 1em;
  /*padding-top: 40px;*/
  padding-bottom: 5px;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

/*Week 3 Content*/

#tab-nav {
  margin: 24px auto;
  width: 80%;
}

.tab-header {
  list-style: none;
}

.tab-link {
  display: block;
  padding: 10px 15px;
  background: #ccc;
  border-bottom: 1px solid #0C273D;
  text-decoration: none;
  color: #000;
  &:hover {
    background: #54D0ED;
    color: #F2F2F2;
  }
}

.active {
  background: #0C273D;
  color: #F2F2F2;
}

.tab-content {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  background: white;
  overflow: hidden;
  padding: 1% 3% 3% 3%;
}

#tab-nav ul li a {
    padding: 10px 25px;
    border-bottom: 1px dotted #ccc;
}

@media screen and (min-width: 600px) {
    #tab-nav {
      width: 80%;
      position: relative;
      border: none;
    }
    .tab-header {
      display: inline;
    }
    .tab-link {
      display: inline-block;
      border: none;
    }
    .tab-content {
      position: absolute;
      padding: 1%;
      left: 0;
    }
}

.code-pen-three {
  width: 80%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  margin: auto;
}
