/*Week 3 Entry*/
.week-three {
  margin: auto;
  margin-top: 8vh;
  width: 100%;
}

.header-week-three {
  margin-left: 4vw;
  margin-bottom: 1em;
}

.date-three {
  border-bottom: 2px solid $color-main-light;
  color: $color-main-light;
  font-size: 1em;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-align: center;
  width: 16vw;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

/*Week 3 Content*/

#tab-nav {
  margin: 24px auto;
  width: 80%;
}

.tab-header {
  list-style: none;
}

.tab-link {
  display: block;
  background: #ccc;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid $bkgd-color-dark;
  padding: 10px 15px;
  text-decoration: none;
  &:hover {
    background: $highlight-color;
    color: #F2F2F2;
  }
}

.active {
  background: $bkgd-color-dark;
  color: #F2F2F2;
}

.tab-content {
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  overflow: hidden;
  padding: 1% 3% 3% 3%;
}

#tab-nav ul li a {
    border-bottom: 1px dotted #ccc;
    padding: 10px 25px;
}

@media screen and (min-width: 600px) {
    #tab-nav {
      border: none;
      position: relative;
      width: 80%;
    }
    .tab-header {
      display: inline;
    }
    .tab-link {
      border: none;
      display: inline-block;
    }
    .tab-content {
      left: 0;
      margin-bottom: 20px;
      padding: 1%;
      position: absolute;
    }
}

.code-pen-three {
  justify-content: center;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
}
