/*Week 4 Entry*/
.week-four {
  height: 50vh;
  width: 100%;
  margin: auto;
  margin-top: 8vh;
}

.header-week-four {
  margin-left: 4vw;
  margin-bottom: 1em;
}

.date-four {
  border-bottom: 2px solid $color-main-light;
  color: $color-main-light;
  font-size: 1em;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-align: center;
  width: 16vw;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

/*Week 4 Content*/
.four--footer {
  background: $bkgd-color-dark;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer--logo {
  display: flex;
  height: 90px;
  width: 100px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 1s;
}

.each-column {
  color: white;
  flex-basis: 13em;
  flex-shrink: 0;
  font-size: 1.5em;
  padding-top: 60px;
  text-align: center;
  @media screen and (min-width: 643px) {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.each-column li {
  line-height: 1.5em;
  list-style: none;
  text-align: center;
  a {
    color: #B3C0CF;
    font-size: .75em;
    text-decoration: none;
  }
}

.copyright {
  color: #B3C0CF;
  padding-top: 20px;
  text-align: center;
  @media screen and (min-width: 643px) {
    padding-top: 30px;
  }
}

.code-pen-four {
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
}
