/*Week 3 Entry*/
.week-three {
  height: 50vh;
  width: 100%;
  margin: auto;
}

.header-week-three {
  margin-left: 4vw;
  margin-bottom: 1em;
}

.date-three {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid $color-main-light;
  width: 16vw;
  color: $color-main-light;
  font-size: 1em;
  /*padding-top: 40px;*/
  padding-bottom: 5px;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

/*Week 3 Content*/

.tab-header {
  list-style: none;
}

.tab-link {
  text-decoration: none;
  font-weight: bold;
  color: $color-main-dark;
  display: flex;
  flex-direction: row;
  width: 20%;
  border-top: 1px solid $header-color-main;
}

.tab-link:hover {
  color: blue;
}

.tab-content {
  display: none;
  width: 100%;
}

.tab-text {

}
