
/*Week 2 Entry*/
.week-two {
  margin: auto;
  margin-top: 35vh;
  width: 100%;
}

.header-week-two {
  margin-left: 4vw;
  margin-bottom: 2em;
}

.date-two {
  border-bottom: 2px solid $color-main-light;
  color: $color-main-light;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 5px;
  width: 15vw;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

/*Week 2 Content*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-main-light;
  border: 1px solid $highlight-color-two;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 350px;
  margin-bottom: 20px;
}

.card-image {
  height: 170px;
  overflow: hidden;
}

img {
  opacity: 1;
  width: 100%;
}

.card-title {
  font-size: 125%;
  line-height: 1.5em;
  margin-top: 5px;
  padding-left: 5px;
  text-align: left;
}

.card-link {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

.card-text {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0 5px 5px 5px;
}

.code-pen-two {
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
}
