/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Main Content */
body {
  font-family: "Roboto", sans-serif;
  background: #B3C0CF; }

.page-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #2C5E2E;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0; }

.page-header h1 {
  display: flex;
  font-size: 125%;
  font-weight: 100;
  color: white; }

.page-header img {
  display: flex;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
  width: 25px; }

.memo {
  margin-top: 15vh;
  font-size: 125%;
  text-align: center;
  font-weight: bold; }

/*Week 1 Entry*/
.week-one {
  height: 50vh;
  width: 100%;
  margin: auto; }

.header-week-one {
  margin-left: 4vw;
  margin-bottom: 1em; }

.date-one {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid white;
  width: 15vw;
  color: white;
  font-size: 1em;
  padding-top: 40px;
  padding-bottom: 5px; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.75em; }

/*Week 1 Content*/
/* Fixed header line */
.one-container {
  display: flex;
  background: #0C273D;
  height: 75px;
  width: 100%;
  /*position: fixed;*/
  top: 45vh; }

/* Header icon */
.logo {
  display: flex;
  height: 90px;
  width: 100px;
  background-color: #54D0ED;
  margin-left: 20px; }

/* Header nav links */
.one-nav {
  display: flex;
  /*float: right;*/
  margin-left: auto; }

.one-nav a {
  color: white;
  text-decoration: none; }

.one-nav {
  display: inline-block;
  margin-right: 10px; }

.one-nav li {
  display: inline-block;
  padding: 30px 5px;
  color: white; }

/*.hidden {
  display: none;
}*/
.button-sign-up {
  background: #54D0ED;
  border-radius: 4px;
  margin-bottom: 3px; }

#code-pen {
  margin-top: 2em;
  justify-content: center; }

/* media queries */
@media screen and (max-width: 360px) {
  .header-week-one {
    text-align: center; }

  .one-container {
    height: 40vh; }

  ul {
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center; }

  .hidden {
    display: block; } }
/*Week 2 Entry*/
.week-two {
  height: 70vh;
  width: 100%;
  margin: auto; }

.header-week-two {
  margin-left: 4vw;
  margin-bottom: 2em; }

.date-two {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid white;
  width: 15vw;
  color: white;
  font-size: 1em;
  padding-bottom: 5px; }

h3 {
  font-weight: bold;
  text-transform: uppercase; }

/*Week 2 Content*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px; }

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 350px;
  margin-bottom: 20px; }

.card-image {
  height: 170px;
  overflow: hidden; }

img {
  opacity: 1;
  width: 100%; }

.card-title {
  line-height: 1.5em;
  font-size: 125%;
  text-align: left;
  padding-left: 5px;
  margin-top: 5px; }

.card-link {
  text-decoration: none;
  font-weight: bold;
  color: black; }

.card-link:hover {
  color: blue; }

.card-text {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0 5px 5px 5px; }

/*Week 3 Entry*/
.week-three {
  height: 50vh;
  width: 100%;
  margin: auto; }

.header-week-three {
  margin-left: 4vw;
  margin-bottom: 1em; }

.date-three {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid white;
  width: 16vw;
  color: white;
  font-size: 1em;
  /*padding-top: 40px;*/
  padding-bottom: 5px; }

h3 {
  font-weight: bold;
  text-transform: uppercase; }

/*Week 3 Content*/
.tab-header {
  list-style: none; }

.tab-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: row;
  width: 20%;
  border-top: 1px solid #2C5E2E; }

.tab-link:hover {
  color: blue; }

.tab-content {
  display: none;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
