/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Main Content */
body {
  font-family: "Roboto", sans-serif;
  background: #B3C0CF; }

.page-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #2C5E2E;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0; }

.page-header h1 {
  display: flex;
  font-size: 125%;
  font-weight: 100;
  color: white; }

.page-header img {
  display: flex;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
  width: 25px; }

.memo {
  margin-top: 15vh;
  font-size: 125%;
  text-align: center;
  font-weight: bold; }

.memo--text {
  margin-top: 5px;
  text-align: center; }

/*Week 1 Entry*/
.week-one {
  height: 50vh;
  width: 100%;
  margin: auto; }

.header-week-one {
  margin-left: 4vw;
  margin-bottom: 1em; }

.date-one {
  color: white;
  border-bottom: 2px solid white;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
  width: 15vw; }

h3 {
  font-size: 1.75em;
  font-weight: bold;
  text-transform: uppercase; }

/*Week 1 Content*/
/* Fixed header line */
.one-container {
  align-items: center;
  display: flex;
  background: #0C273D;
  height: 75px;
  width: 100%;
  top: 45vh; }

/* Header icon */
.logo {
  display: flex;
  background-color: #54D0ED;
  height: 90px;
  width: 100px;
  margin-left: 20px;
  margin-top: 15px; }

.button-sign-up {
  background: #54D0ED;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-left: 20px;
  width: 80px; }
  .button-sign-up:hover {
    background-color: white;
    color: #0C273D; }

/* Header nav links */
.one-nav {
  margin-left: auto; }

.nav-list {
  position: relative;
  float: left;
  background-color: #0C273D;
  list-style: none;
  overflow: hidden; }

.nav-list a {
  display: inline-block;
  color: white;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s; }
  .nav-list a:hover {
    color: #54D0ED; }

.list-items {
  float: left;
  position: relative; }

.icon {
  display: none; }

@media screen and (max-width: 725px) {
  .nav-list li:not(:first-child) {
    display: none; }

  .nav-list li.icon {
    display: inline-block;
    float: right; }

  .nav-list.responsive {
    margin-top: 125px;
    position: relative; }

  .nav-list.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  .nav-list.responsive li {
    display: inline;
    float: none; }

  .nav-list.responsive li a {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left; } }
.code-pen-one {
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%; }

.divider {
  border: 1px solid #0C273D;
  margin: 0 auto;
  width: 80%; }

/*Week 2 Entry*/
.week-two {
  margin: auto;
  margin-top: 35vh;
  width: 100%; }

.header-week-two {
  margin-left: 4vw;
  margin-bottom: 2em; }

.date-two {
  border-bottom: 2px solid white;
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 5px;
  width: 15vw; }

h3 {
  font-weight: bold;
  text-transform: uppercase; }

/*Week 2 Content*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px; }

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 350px;
  margin-bottom: 20px; }

.card-image {
  height: 170px;
  overflow: hidden; }

img {
  opacity: 1;
  width: 100%; }

.card-title {
  font-size: 125%;
  line-height: 1.5em;
  margin-top: 5px;
  padding-left: 5px;
  text-align: left; }

.card-link {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; }
  .card-link:hover {
    color: blue; }

.card-text {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0 5px 5px 5px; }

.code-pen-two {
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%; }

/*Week 3 Entry*/
.week-three {
  margin: auto;
  margin-top: 8vh;
  width: 100%; }

.header-week-three {
  margin-left: 4vw;
  margin-bottom: 1em; }

.date-three {
  border-bottom: 2px solid white;
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-align: center;
  width: 16vw; }

h3 {
  font-weight: bold;
  text-transform: uppercase; }

/*Week 3 Content*/
#tab-nav {
  margin: 24px auto;
  width: 80%; }

.tab-header {
  list-style: none; }

.tab-link {
  display: block;
  background: #ccc;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid #0C273D;
  padding: 10px 15px;
  text-decoration: none; }
  .tab-link:hover {
    background: #54D0ED;
    color: #F2F2F2; }

.active {
  background: #0C273D;
  color: #F2F2F2; }

.tab-content {
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  overflow: hidden;
  padding: 1% 3% 3% 3%; }

#tab-nav ul li a {
  border-bottom: 1px dotted #ccc;
  padding: 10px 25px; }

@media screen and (min-width: 600px) {
  #tab-nav {
    border: none;
    position: relative;
    width: 80%; }

  .tab-header {
    display: inline; }

  .tab-link {
    border: none;
    display: inline-block; }

  .tab-content {
    left: 0;
    margin-bottom: 20px;
    padding: 1%;
    position: absolute; } }
.code-pen-three {
  justify-content: center;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%; }

/*Week 4 Entry*/
.week-four {
  height: 50vh;
  width: 100%;
  margin: auto;
  margin-top: 8vh; }

.header-week-four {
  margin-left: 4vw;
  margin-bottom: 1em; }

.date-four {
  border-bottom: 2px solid white;
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-align: center;
  width: 16vw; }

h3 {
  text-transform: uppercase;
  font-weight: bold; }

/*Week 4 Content*/
.four--footer {
  background: #0C273D;
  padding-top: 10px;
  padding-bottom: 20px; }

.footer--logo {
  display: flex;
  height: 90px;
  width: 100px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px; }

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 1s; }

.each-column {
  color: white;
  flex-basis: 13em;
  flex-shrink: 0;
  font-size: 1.5em;
  padding-top: 60px;
  text-align: center; }
  @media screen and (min-width: 643px) {
    .each-column {
      padding-left: 10px;
      padding-top: 10px; } }

.each-column li {
  line-height: 1.5em;
  list-style: none;
  text-align: center; }
  .each-column li a {
    color: #B3C0CF;
    font-size: .75em;
    text-decoration: none; }

.copyright {
  color: #B3C0CF;
  padding-top: 20px;
  text-align: center; }
  @media screen and (min-width: 643px) {
    .copyright {
      padding-top: 30px; } }

.code-pen-four {
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%; }

/*# sourceMappingURL=styles.css.map */
